
:root {
  --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
  --pink: #FF919D;
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #f799a354;
}
.sidebar {
  width: 18vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 4rem;
  transition: all 300ms ease;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
/* logo */
.bars{
  display: none;
}

 .logo {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 4%;
}


.logo > img {
  width: 11rem;
  height: 7rem;
 

}


/* menu */
.menu {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.menuItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 2.5rem;
  margin-left: 1.5rem;
  position: relative;
  transition: all 300ms ease;
  border-radius: 0.7rem;
  font-size: 14px;
}

.menu-item-link span {
  margin-left: 10px; /* Ajuste o valor conforme necessário */
}

.menuItem:hover {
  cursor: pointer;
}

.menu .menuItem:last-child {
  position: absolute;
  bottom: 2.3rem;
  width: 100%;
}

.menu-item-link {
  display: flex;
  align-items: center;
  color: inherit; 
  text-decoration: none; 
}




.active {
  background: #FF4500;
  margin-left: 0;
}

.active::before {
  content: "";
  width: 8px;
  height: 100%;
  background: #FF7F50;
  margin-right: calc(1rem - 8px);
}

.icon{
  font-size: 19px;
}

.sidebar.dark {
  background-color: #202529; /* Sua cor de fundo para o modo escuro */
  color: white; /* Cor do texto para o modo escuro */
  box-shadow:  rgba(0, 0, 0, 0.4) 0px 2px 8px 0px;
}


/* Tablets */

@media screen and (max-width:1400px) {

  .menu{
    gap: 1rem;
  }
  .menuItem {
    font-size: 12px;
  }
  
  
.logo{
 width: 12rem;
}

.icon{
  font-size: 15px;
}

}
@media screen and (max-width: 1200px) {
  .menuItem>span{
    display: none;
  }
  .logo{
    display: none;
  }

  .sidebar{
    box-shadow: none;
  }
  
}

@media screen and (max-width: 991px) {
  .sidebar{
    position: fixed;
    z-index: 9;
    width: 50%;
    padding-right: 1rem;
    height: 100%;
  }
  .menuItem>span{
    display: block;
  }
  .logo{
    display: flex;
    width: 9rem;
    height: 6rem;
    
    
    
      
  }
  .logo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-left: 2.8rem;
    margin-top: 3rem;
  }
  .menu .menuItem:last-child {
    position: relative;
    margin-top: 6rem;
  }
  .bars{
    display: flex;
    position: fixed;
    top: 1rem;
    background: transparent;
    padding:10px;
    border-radius: 10px;
    z-index: 9;
  }

 
  .close{
    left: -60%;
  }
}

